$CELL_SIZE: 50px;
$CELL_MEDIUM_SIZE: 40px;
$CELL_SMALL_SIZE: 30px;
$CELL_TINY_SIZE: 22px;
$white: #fff;
$black: #000;

#select-area {
    padding-top: 30px;
}

#img-queen {
    max-width: 100px;
    object-fit: cover;
    cursor: pointer;
}

#grid-board {
    display: grid;
    grid-auto-rows: minmax(auto, max-content);
    padding-top: 30px;
}

.row-board {
    grid-row: auto;

    &.second-more {
        margin-top: -4px;
    }
}

.cell-board {
    display: inline-flex;
    width: $CELL_SIZE;
    height: $CELL_SIZE;
    cursor: pointer;

    &.white {
        background-color: $white;
    }

    &.black {
        background-color: $black;
    }
}

@media screen and (min-width: 700px) and (max-width: 1500px) {
    .cell-board {
        width: $CELL_MEDIUM_SIZE;
        height: $CELL_MEDIUM_SIZE;
    }
}

@media screen and (min-width: 401px) and (max-width: 699px) {
    .cell-board {
        width: $CELL_SMALL_SIZE;
        height: $CELL_SMALL_SIZE;
    }
}

@media screen and (max-width: 400px) {
    .cell-board {
        width: $CELL_TINY_SIZE;
        height: $CELL_TINY_SIZE;
    }
}