$CELL_SIZE: 50px;
$CELL_MEDIUM_SIZE: 40px;
$CELL_SMALL_SIZE: 32px;
$CELL_TINY_SIZE: 25px;
$white: #fff;
$black: #000;

#select-area {
    padding-top: 30px;
}

#img-queen {
    max-width: 100px;
    object-fit: cover;
    cursor: pointer;
}